@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}
a{
    text-decoration: none!important;
    color: black!important;
}
:root{
    --bg-primary : #e92626!important;
}
.bg-primary{
    background-color: var(--bg-primary)!important;
}
.bg-orange{
    background-color: var(--bg-primary)!important;
}

.border-orange{
    border: 1.8px solid #e92626!important;
}
p{
    margin: 0!important;
}
h1,h2,h3,h4,h5{
    margin: 0!important;
}
.text-gray{
    color: #b3aaaa!important;
}
ul{
    margin: 0!important;
}
input[type="file"] {
  display: none;
}
/* slic slider Card  start*/

body{
    background-color: #F5F5FF;
  }
  .wrapper{
    padding: 30px 0;
  }
.slick-slide{
    width: 205px!important;
  }
  /* Default slide */
  .center-slider .slick-slide{
  
    color: #FFF;
    height: 300px;
    margin: 0 15px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0.9);
    transition: all 0.4s ease-in-out;
  }
  .center-slider .slick-slide,
  .center-slider .slick-slide[aria-hidden="true"]:not(.slick-cloned) ~ .slick-cloned[aria-hidden="true"] {
    transform: scale(0.8, 0.8);
    transition: all 0.4s ease-in-out;
  }
  
  /* Active center slide (You can change anything here for cenetr slide)*/
  .center-slider .slick-center,
  .center-slider .slick-slide[aria-hidden="true"]:not([tabindex="-1"]) + .slick-cloned[aria-hidden="true"] {
    transform: scale(1.1);
    
  }
  .center-slider .slick-current.slick-active{
    transform: scale(1.1);
   
  }
  
  .slick-next, .slick-prev{
    z-index: 5;
  }
  .slick-next{
    right: -5px;
    top: 150px;
  }
  .slick-prev{
    left: -15px;
    top: 150px;
  }
  .slick-next:before, .slick-prev:before{
    color: #000;
    font-size: 26px;
  }

/* slic slider Card  end*/

